.line-limit-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@font-face {
  font-family: "AmericanTypewriter";
  src: local("AmericanTypewriter"),
    url("american-typewriter.ttf") format("truetype");
  font-weight: bold;
}

h1 {
  font-family: "AmericanTypewriter";
}

.office-font {
  font-family: "AmericanTypewriter";
}
